* {
    margin: 0;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12%;
}

.logo {
  margin-left: 2%;
}

.container {
  height: 100vh;
}

.hero_image {
  display: block;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}



.site_links {
margin-right: 5%;
display:flex;
}

.site_links p {
    margin-left: 10%;
}

.site_links {
  margin-left: 80%;
  margin-top: 3%;
}

.bottom_line {
  margin-top: -.8%;
  display: flex;
  justify-content: space-evenly;

}

.bottom_line p{
  margin-top: 1%;
  width: 100%;
}

.bio_section {
  display: flex;
  margin-left: 20%;
  margin-bottom: 10%;
}

.bio_section img {
  width: 80%;
}

.long_project {
  position: relative;
  width: 80%;
  margin-left: 10%;
}

.long_project img {
  width: 100%;
  height: auto;
}

.long_project ul {
  text-decoration: none;
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 50%;
}

.case_studies_links li {
    list-style-type: none;
    top: 10%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.short_projects {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: -3.8rem;
}


.short_projects img {
  width: 100%;
  height: auto;
}

.short_projects ul {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-10rem);
}

.ha_case_studies_links ul {
  display: flex;
  justify-content: space-between;
  bottom: 30%;
  left: 50%;
}

.ha_case_studies_links li {
  flex: 0 0 auto;
}

footer {
  position: absolute;
  width: 100%;
}
