body {
    font-family: 'Roboto', sans-serif;
}

header {
    border-top: 12px solid #510381;
}

.site_links a{
    font-size: 1.5em;
    text-decoration: none;
    color:#510381;
}



footer {
  background-color: #510381;
  color: azure;
  clear: both;
  position: relative;
  height: 50px;
  text-align: center;
}