/* * {
  border: dashed 1px #b82463;
} */

/* fieldset */

fieldset{
  border: none;
  margin: 8px 0 8px 0;
}

/* nav */

nav{
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

nav a{
  list-style: none;
  text-decoration: none;
  color: black;
  background-color: transparent;
  transition: background-color 0.3s ease;
  font-size: 1.4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover{
  background-color: rgba(162, 48, 252, 70%);
}

/* hero image, bio */

#hero, #bio{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero, bio img */

#hero img, #bio img{
  width: 80%;
  height: auto;
}

/* projects */

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

#small-projects{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height:auto;
  position: relative;
  left: 4%;
}

.big-project img{
  width: 90%;
  height: auto;
  position: relative;
  padding: 0 4%;
}

.small-project img{
  width: 100%;
  height: auto;
}

.big-project, .small-project{
  margin-bottom: -6%;
  overflow: hidden;
}

.big-project:first-of-type{
  margin-top: 6%;
}

/* button container */

.button-container {
  position: relative;
  display: flex;
  z-index: 10;
  left: 55%;
  transform: translateY(-140%);
}

.button-container a{
  border: none;
  color:white;
  padding: 6px 36px;
  text-align: center;
  text-decoration: none;
  display: inherit;
  background-color: #58acfd;
  font-size: 18px;
  border-radius: 8px;
  width: 80%;
  position: relative;
  margin: 4px 2px;
  cursor: pointer;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Smaller */
@media screen and (max-width: 1500px) {
  .button-container a{
    font-size: 16px;
    padding: 4px 24px;
  }
  
}
/* Smallest */
@media only screen and (max-width: 1100px) {
  .button-container a {
  font-size: 14px;
  padding: 2px 12px;
  }
  }

.button-container ul {
  list-style: none;
}

.ha-button a {
  background-color: #ff0000;
}

.pf-button a {
  background-color: #0F2C52;
}

.hq-button a{
  background-color: #FF414D;
}