body {
  font-family: 'Libre Franklin', sans-serif;
}

#page_header {
  background: gray;
}

#face_pic {
  width: 10%;
  height: 10%;
  border-radius:50%;
}

.header_item {
  font-family: 'Padauk', sans-serif;
  color: white;
  padding-left: 10px;
  font-size: 24px;
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
}

.main_header {
font-family:'Merriweather Sans', sans-serif;
font-size: 10px;
}
