* {
    margin: 0;
    background-color: #5f93a5;
}

body {
  font-family: 'Roboto', sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

.logo {
  margin-left: 2%;
}

.container {
  height: 100vh;
}

.hero_image {
  display: block;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  width: 80%;
}

.site_links {
margin-right: 5%;
display:flex;
margin-left: auto;
margin-top: 3%;
margin-bottom: 1rem;

}

.site_links p {
    margin-left: 2%;
}

.site_links a {
  background: #82ccab;
  color: #7979f5;
  text-decoration: none;
}

.site_links button {
  background: #82ccab;
  border-radius: 999px;
  box-shadow: #7d7df6 0 10px 20px -10px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  width: 8rem;
  word-break: break-word;
  border: 0;
}


.bottom_line {
  margin-top: -.8%;
  display: flex;
  justify-content: space-evenly;

}

.bottom_line p{
  margin-top: 1%;
  width: 100%;
}

.bio_section {
  display: flex;
  margin-left: 20%;
  margin-bottom: 10%;
}

.bio_section img {
  width: 80%;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.project,
.small-project {
  width: 100%;
  padding: 8px;
  position: relative;
}

.project img,
.small-project img {
  display: block;
  width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  text-decoration: none;
  border-radius: 8px;
}

.small-projects {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.small-project {
  width: calc(50% - 8px);
}

.small-project + .small-project {
  margin-left: 16px;
}

.projects {
  display: flex;
  justify-content: center;
}

.project, .small-project {
  width: 80%;
  margin-bottom: 16px;
  padding: 8px;
  position: relative;
}

.project img, .small-project img {
  display: block;
  width: 100%;
  height: auto;
}

.button-container {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  margin: 0 60px;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  text-decoration: none;
  border-radius: 8px;
}

.button.tl {
  background-color: #58ACFD;
}

.button.mhq {
  background-color: #FF0000;
}

.button.pf {
  background-color: #00A3E0;
}

.button.ha {
  background-color: #FF414D;
}

.button.right {
  transform: translateX(300%);
}

/* Header needs to be a Header */

/* Buttons need to be Sewn onto the album covers */

/* make big projects be same width as small projects */

/* spinny box around portrait div */

/* Then you can add cool mouse-over effects  */

/* ask Krys for more sketches once we get the album covers working right */



footer {
  position: absolute;
  width: 100%;
}
